@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "courgette";
  src: url("../fonts/Courgette-Regular.ttf");
}
.text-right {
  text-align: right;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
}
body, div, ul {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}
.h1 {
  font-family: "courgette";
  font-size: 2em;
  font-weight: bold;
}
.h3 {
  font-size: 1.2em;
}
.text-justify {
  text-align: justify;
}
img {
  width: 100%;
  height: 100%;
}
.text-center {
  text-align: center;
}
.form-group {
 margin: 15px;
}

footer {
  margin-top: 20px;
  background-color: #000000bb;
  /* padding: 50px; */
  padding: 30px;
  font-size: 1.2em;
  color: #ffffffbb;
  text-align: center;
}
textarea[disabled], button[disabled], select[disabled], input[disabled] {
  cursor: not-allowed;
}
select {
  cursor: pointer;
}
.form-group {
  display: block;
  padding: 10px;
}
.form-group label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
}
.form-control {
  width: 96%;
}
input[type='file'] {
  cursor: pointer;
}
.select-control {
  border: 1px solid #ddd;
  font-size: 1.2em;
  background-color: snow;
  display: block;
  width: 100%;
  padding: 10px;
  color: #555;
  margin-bottom: 20px;
  margin-top: 15px;
}
input.form-control, textarea.form-control {
  border: 1px solid #ddd;
  padding: 1vw;
  font-size: 1.2em;
}
.margin-none {
  margin: 0;
}
.em1 {
  font-size: 1em !important;
}
.success {
  background-color: #DFF2BF !important;
  color: #4F8A10 !important;
}
input[type='submit'], input[type='reset'] {
  cursor: pointer;
}
.close-cftff {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.close-cftff .fa-window-close {
  font-size: 3em;
}
.close-cftff a {
  color: #000;
}
.close-cftff .fa-window-close:hover {
  color: #f32424;
}
